apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: nginx-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 80

          env:
            - name: BASIC_AUTH_USER
              valueFrom:
                secretKeyRef:
                  name: nginx-secret
                  key: BASIC_AUTH_USER
            - name: BASIC_AUTH_PASS
              valueFrom:
                secretKeyRef:
                  name: nginx-secret
                  key: BASIC_AUTH_PASS

          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/conf.d
            - name: nginx-storage
              mountPath: /usr/share/nginx/html

      volumes:
        - name: nginx-config
          configMap:
            name: nginx-config
        - name: nginx-storage
          persistentVolumeClaim:
            claimName: nginx-pvc
